body{
    background: #eef2ff;
}

.top_menu{
    background-color: rgb(5, 78, 236);
    /* width: 300px; */
    height: 100px;
}
.title{
    width: 350px;
    font: normal 32px/100px 微软雅黑;
    color: #fff;
    text-align: center;
    float: left;
}
.menu_list{
    float: left;
    width: 800px;
    height: 100px;
}
.menu_list ul{
    margin: 0;
}

.menu_list li{
    width: 150px;
    height: 100px;
    float: left;
    list-style: none;
    font: normal 18px/100px 微软雅黑;
    color: #fff;
    text-align: center;
}
.menu_list li:hover{
    background: cornflowerblue;
}
.user{
    float: right;
    color: #ffffff;
    font: normal 16px/40px 微软雅黑;
    margin: 45px 40px;
}
.left_menu{
    position: absolute;
    top: 120px;
    left: 0;
    width: 300px;
    height: 1000px;
    background: #ffffff;
}

.left_title{
    width: 100%;
    height: 100px;
    float: left;
    font: normal 28px/100px 微软雅黑;
    color: #ffffff;
    background: blue;
    text-indent: 50px;
}
.left_menu_list li{
    height: 60px;
    width: 100%;
    border-bottom: solid 1px #e3e2ed;
    font: normal 22px/60px "Microsoft Himalaya";
    text-indent: 50px;
    float: left;
    color: rgba(51,62,82,0.73);
    /*background-image: url("");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 240px;*/
}
.content{
    width: 1190px;
    height: 1000px;
    position: absolute;
    left: 300px;
    top: 120px;
    background: #ffffff;
    padding-left: 60px;
}
.pro_info{
    width: 240px;
    height: 230px;
    border: solid 1px #9297a2;
    margin: 25px;
    float: left;
    border-radius: 10px;
    text-align: center;
}
.pro_title{
    width: 100%;
    height: 45px;
    font: normal 28px/50px "Microsoft Himalaya";
    background: #c8f1f1;
    color: #000000;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.pro_info p{
    font: normal 18px/35px "Microsoft Himalaya";
    color: #939292;
}
.del_pro {
    border-radius: 30px;
    font: normal 20px/30px "Microsoft Himalaya";
    background: #0033cc;
    width: 100px;
    margin: 45px auto auto auto;
}